<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="ion-text-center">Productos</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Trolls tallados de madera</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img
        src="https://cdn.myonlinestore.eu/940f850a-6be1-11e9-a722-44a8421b9960/image/cache/full/df5678a5c5a8610f60a59a724f5285758863f378.jpg?20230921110448"
        alt="Souvenir 1"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vikingos tallados de madera</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img
        src="https://2.bp.blogspot.com/-HE6AgE0u03g/XOcLYNiVxgI/AAAAAAAAEBo/oBdwzyFH5IEuKkJeCkrC8xT9wd-byo77gCLcBGAs/s1600/whole-widen-world-norway-souvenirs-vikings-1.jpg"
        alt="Souvenir 2"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Suéteres hechos a mano</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img
        src="https://fthmb.tqn.com/fUNRNU6EiJiKKgHGTC0PlTOs8jM=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-148509924-5717e50e3df78c3fa26a4866.jpg"
        alt="Souvenir 3"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>